.card-theme-item {
  height: 6vw;
}
@media only screen and (max-width: 720px) {
  .theme-avatar,
  .card-theme {
    width: 40vw;
    margin: 0;
  }
}
@media only screen and (max-width: 920px) {
  .card-theme-item {
    height: 12vw;
  }
}

@media screen and (orientation: portrait) {
  .theme-avatar,
  .card-theme {
    width: 40vh;
  }
  .card-theme-item {
    height: 12vh;
  }
}
